<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>List Of Pet Owners</title>
</head>
<body>

	<h1 th:text="'List Of Pet Owners'">List Of Pet Owners...</h1 > 

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="proprietaire : ${listeProprietaires}">
				<td th:text="${proprietaire.id}" />
				<td th:text="${proprietaire.firstName}" />
				<td th:text="${proprietaire.lastName}" />
			</tr >
		</tbody>
	</table>

</body>
</html >